@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* bg color for page */
body {
    background-color: rgb(199, 222, 189);
}

/* Heading styles */
h1 {
    font-family: "Rowdies", sans-serif;
    font-size: calc(2rem + 2vw + 2vh);
    /* Border style */
    border-style: solid;
    border-width: 0.5vw;
    border-radius: 5px;
    /* Border spacing */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 451px;
    padding-right: 451px;
}

/* centers everything without having to repeat this code */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Title styles */
#title-div {
    /* width set to viewpoint */
    width: 100vw;
    height: 50px;

    /* Background of header design */
    background-color: rgb(98, 123, 101);
    background-size: contain;
    height: 130px;
    color: floralwhite;

}

/* Cover div styling */
#cover-div {
    width: 100vw;
}

/* Cover image styling */
#cov-img {
    height: 500px;
    width: 70%;
    object-fit: cover;
    object-position: 50% 50%;
}